html, body, #react-root {
  padding:0;
  margin:0;
  width:100%;
  height:100%;
}

:target {
  display: block;
  position: relative;
  padding-top: 4em;
  margin-top: -4em;
}

.PostContainer {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
}

.Header {
  display: flex;
  background: black;
  color: white;
  width: 100%;
  flex-direction: row;
  position: fixed;
}

.Header a {
  color: white; 
}

.Banner {
  width: 100vw; 
  max-height: 70vh;
  overflow: hidden;
}

.Iconbar {
  position: fixed;
  margin-top: 4em;
  width: 13em;
  display: flex;
  padding-top: 3em;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

.Iconbar b {
  padding: 0.5em;
  font-size: 2em;
}

.Iconbar img {
  width: 3em;
  margin-bottom: 1em;
}

.Content {
  min-width: 400px;
  padding-bottom:3em;
  padding-left: 5em;
  padding-right: 2em;
  transition: all 0.3s ease-in;
  display: flex;
  flex-direction: row;
  flex-wrap:wrap; 
}

.Article {
  min-width: 400px;
  max-width: 900px;
  margin-right: 2em;
  flex-grow: 10;
  flex-shrink: 1;
  flex-basis: 600px;
}

@media (min-width: 1270px) {
  .Article {
    order: 1
  }

  .TocContainer {
    order: 2
  }
}


.TocContainer {
  font-size: 1em;
  min-width: 200px;
  max-width: 600px;
  flex-grow:1;
  flex-shrink: 10;
  flex-basis: 400px;
}


.Logo {
  padding-left:1em;
  padding-right:1em;
}

.Logo span {
  font-size: 0em;
  transition: all 0.1s ease-in
}


@media (min-width: 1000px) {
  .Logo span {
    font-size: 1em;
  }

  .Content {
    padding-left: 12em;
  }
}


svg.follow-icon {
  fill: black;
  background-color:white;
  width: 2em;
  height: 2em;
}

svg.follow-icon:hover {
  fill: white;
  background-color:black;
}

.Footer {
  display:flex;
  flex: wrap row;
  justify-content: stretch;
}

.Links {
  display:flex;
  flex-direction: column;
}

.Links div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.Footer {
  background: #333;
  padding: 1em;
  justify-content: space-around;
  flex-wrap: wrap;
}



.Footer b {
  text-align:center;
  color: white;
  border-bottom: solid 1px white;
  padding: 0.3em;
  min-width:200px;
  margin-bottom:1em;
}

.Footer a {
  color: white;
}

.Links, .Follow, .Subscribe {
  display:flex;
  flex-grow:1;
  flex-direction: column;
  margin-left:2em;
  margin-right:2em;
  margin-bottom:2em;
}

.Follow div {
  display:flex;
  width:100%;
  flex-direction: row;
  justify-content: space-around;
}

.Subscribe form {
  font-size:1.5em;
  flex-grow:1;
  display:flex;
  flex: 1 row wrap;
}

.Subscribe form input {
  flex-grow:10;
}


.Subscribe form button {
  flex-grow:1;
}




